/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Roboto:wght@100;300;400;500;700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

:root {
   --main-font-color: rgb(255, 255, 255);
   --accent-font-color: #f5cf96;
   --background-color: rgb(41, 41, 41);
   --foreground-color: rgba(61, 16, 119, 1);
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: Roboto;
}

#logo {
   font-family: Monoton;
}

.dropdown-item {
   color: #FFF;
}

.nav-link {
   color: #FFF;
}

body {
   background-color: var(--background-color);
   /* This is needed due to the sticky navbar */
   padding-top: 110px;
}

a {
   text-decoration: none;
   color: inherit
}

ul {
   list-style: none;
}

#logout-btn {
   display: block;
   background: none !important;
   border: none;
   padding: 0 !important;
   color: #FFF;
}

#logout-btn:hover {
   color: #000;
}

.errorlist * {
   color: red;
}

/* This hides all user actions, Javascript in base.js will unhide the needed actions */
.user-action {
   display: none;
}

.active, .nav-item:hover {
   text-decoration: underline;
   font-weight: bold;
 }