/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Roboto:wght@100;300;400;500;700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

:root {
   --main-font-color: rgb(255, 255, 255);
   --accent-font-color: #003CBD;
   --background-color: #333;
   --foreground-color: rgb(107, 146, 218);
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: Roboto;
}

#logo {
   font-family: Monoton;
}

.dropdown-item {
   color: #FFF;
}

.nav-link {
   color: #FFF;
}

body {
   background-color: var(--background-color);
   min-height: 100vh;
}

a {
   text-decoration: none;
   color: inherit
}

ul {
   list-style: none;
}


.floating-btn {
   /* background-color: var(--nav-background-color);
   color: var(--main-font-color); */
   position: fixed;
   bottom: 0px;
   border-radius: 50%;
   border: 5px solid var(--main-font-color);
   font-size: xx-large;
   padding: 0px;
   width: 70px;
   height: 70px;
   line-height: 50px;
}


#add-post-btn {
   right: 10px;
}

#logout-btn {
   display: block;
   background: none !important;
   border: none;
   padding: 0 !important;
   color: #FFF;
}

.errorlist * {
   color: red;
}