* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: rgb(61, 61, 61);
    color: #fff
}

.navbar {
    width: 250px;
    height: 100vh;
    position: fixed;
    margin-left: -300px;
    background-color: #7952b3;
    transition:0.3s;
}

 .nav-link {
    font-size: 1.25rem;
 }

 .nav-link:active,
 .nav-link:focus,
 .nav-link:hover {
    background-color: #fff;
 }

 .sidebar-button-container {
    transition: 0.4s;
 }

 .active-nav {
    margin-left: 0;
 }

 .active-cont {
    margin-left: 250px;
 }

.floating-btn {
   background-color: #7952b3;
   color: #fff;
   position: fixed;
   bottom: 0px;
}

 #toggle-sidebar-btn {
   left: 10px;
 }

 #toggle-sidebar-btn:focus {
    box-shadow: 0 0 0 0.25rem #ccc123;
 }

 #add-post-btn {
   right: 10px;
 }