* {
    color: #fff
}

main {
    margin-top: -50px;
}

#add-post-form {
    text-align: center;
    margin: 0 2rem;
}

form {
    text-align: center;
    display: flex;
    flex-direction: column;

}

form p {
    display: flex;
    flex-direction: column;
}

#edit-post-buttons {
    display: flex;
}

#edit-post-buttons * {
    margin: 0 5px;
    width: 100%;
}

.user-image:hover {
    border: 5px dashed red;
}

img#profile-image {
    margin: 10px auto;
}