#add-post-form {
    text-align: center;
    margin: 0 2rem;
}

form {
    text-align: center;
    display: flex;
    flex-direction: column;
    
}

form p {
    display: flex;
    flex-direction: column;
}

#edit-post-buttons {
    display: flex;
}

#edit-post-buttons * {
    margin: 0 5px;
    width: 100%;
}