 input {
    max-width: 400px;
    margin: 0 auto;
 }

 #share-your-stories {
    color: #C920C9
 }

 #join-button {
    --bs-btn-hover-bg: #C920C9;
    --bs-btn-hover-border-color: #C920C9;
    --bs-btn-hover-color: #FFF;
 }