{% extends "base.html" %}
{% load static %}
{% block css_files %}
    <link rel="stylesheet" href="{% static 'css/404.css' %}" />
{% endblock css_files %}
{% block content %}
    <div class="container d-flex justify-content-center flex-column text-center">
        <img src="{% static 'images/404.svg' %}"
             alt="404 image"
             class="img-fluid"
             height=""
             width=""/>
        <div>
            <p>
                <h1>Page not found</h1>
                {% if user.is_authenticated %}
                    <a href="{% url 'timeline' %}">
                        <h6>Back to your timeline</h6>
                    </a>
                {% else %}
                    <a href="{% url 'login' %}">
                        <h6>Log in</h6>
                    </a>
                {% endif %}
            </p>
        </div>
    </div>
{% endblock content %}
