{% extends "base.html" %}
{% load static %}
{% block css_files %}
    <link rel="stylesheet" href="{% static 'css/edit-post.css' %}" />
{% endblock css_files %}
{% block page_title %}
    Update your comment
{% endblock page_title %}
{% block content %}
    <section id="edit-post-form">
        <p>Need to make adjustments, {{ user.username }}?</p>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <div id="edit-post-buttons">
                <a href="{% url 'timeline' %}" class="btn btn-primary">Cancel</a>
                <button class="btn btn-primary">Update</button>
            </div>
        </form>
    </section>
{% endblock content %}
