{% extends "base.html" %}
{% load static %}
{% block css_files %}
    <link rel="stylesheet" href="{% static 'css/edit-delete-comment.css' %}" />
{% endblock css_files %}
{% block page_title %}
    Update your comment
{% endblock page_title %}
{% block content %}
    <div class="container">
        <h1 class="text-center">Need to make adjustments, {{ user.username }}?</h1>
        <form method="post" class="d-flex align-items-center">
            {% csrf_token %}
            {{ form.as_p }}
            <div id="edit-post-buttons">
                <a href="{% url 'post-details' comment.post.slug %}"
                   class="btn btn-primary px-4">Cancel</a>
                <button class="btn btn-primary px-4">Update</button>
            </div>
        </form>
        <div id="comment-container" class="border my-3 p-3">
            <div class="my-2 card d-flex flex-row bg-info text-light comment-card">
                <img class="img-fluid d-none d-md-block p-2 rounded"
                     {% if comment.author_social.profile_image == "placeholder" %} src="{% static 'images/placeholders/default_user.svg' %}" {% else %} src="{{ comment.author_social.profile_image }}" {% endif %}
                     alt="Commenter Profile Image"
                     width="150"
                     height="100"/>
                <div class="card-body">
                    <div class="card-title">
                        <div>
                            <span class="h4"><a class="d-inline" href="{% url 'profile' comment.author.id %}">{{ comment.author }}</a></span><span class="mx-2"></span><span>{{ comment.created }}</span>
                        </div>
                    </div>
                    <div class="card-text">{{ comment.body }}</div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block javascript %}
    <script src="{% static 'js/edit-comment.js' %}"></script>
{% endblock javascript %}
