{% extends "base.html" %}
{% load static %}
{% block css_files %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    <link rel="stylesheet" href="{% static 'css/edit-post.css' %}" />
{% endblock css_files %}
{% block page_title %}
    Update your profile
{% endblock page_title %}
{% block content %}    
    <div class="container d-flex flex-column justify-content-center my-3">
        <h1 class="text-center">{{ socialuser.user.username }}'s Profile:</h1>
        <div id="uploaded_pics" class="d-flex flex-column justify-content-center">
            <p class="text-center">Click your profile photo to remove it or upload a different one.</p>
            {% if not socialuser.profile_image == "placeholder" %}
                <img src="{{ socialuser.profile_image }}"
                     alt=""
                     id="profile-image"
                     height="200"
                     width="200"/>
            {% endif %}
            <button id="upload_widget" class="cloudinary-button my-2">Upload profile image</button>
        </div>
        <section id="edit-profile-form">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <div id="edit-post-buttons">
                    <a href="{% url 'timeline' %}" class="btn btn-primary">Back</a>
                    {% comment %} This prevents people from editing other people's profiles or at least makes it a lot harder {% endcomment %}
                    {% if socialuser.user.username == user.username %}<button class="btn btn-primary">Update</button>{% endif %}
                </div>
            </form>
        </section>
    </div>
{% endblock content %}
{% block javascript %}
    {% comment %} Cloudinary Upload widget {% endcomment %}
    <script src="https://widget.cloudinary.com/v2.0/global/all.js" type="text/javascript"></script>
    <script src="{% static 'js/edit-profile.js' %}"></script>
{% endblock javascript %}
