{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load account socialaccount %}
{% block css_files %}
    <link rel="stylesheet" href="{% static 'css/login-signup.css' %}">
{% endblock css_files %}
{% block page_title %}
  Welcome to SocialBlog
{% endblock page_title %}
{% block content %}
  <div class="bg-dark text-light p-md-5 p-0 text-center login-page">
    <div class="container-fluid mt-3">
      <div class="d-flex flex-column flex-md-row justify-content-center align-items-center">
        <div class="col-sm pt-3" id="image">
          <img class="img-fluid"
               src="{% static 'images/socialnetwork.svg' %}"
               alt=""/>
        </div>
        <div class="col-sm" id="text-buttons">
          <div id="text">
            <p>
              <h1 class="text-warning ">Connect with your friends<br/> and <span id="share-your-stories">share your stories</span>
            </h1>
          </p>
          <p>On SocialBlog, it's easy to stay in touch,<br/>share photos and life events<br/>and keep everybody in the loop!</p>
        </div>
        <div id="buttons" class="d-flex justify-content-around mx-5">
            <a href="{% url 'signup' %}" class="btn btn-outline-light btn-lg" id="join-button">Join now!</a>
        </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}