{% extends "base.html" %}
{% load static %}
{% block css_files %}
    <link rel="stylesheet" href="{% static 'css/timeline.css' %}" />
    <link rel="stylesheet" href="{% static 'css/profile.css' %}" />
{% endblock css_files %}
{% block page_title %}
    {{ viewed_user.user.username }}'s profile
{% endblock page_title %}
{% block content %}
    {{ viewer_user.profile_image }}
    <div class="container" id="user-posts">
        <div class="row gy-4 mb-4 ">
            <div class="col-lg-2 col-md-4 col-sm-4 profile-photo-container">
                <div class="timeline-card profile-photo">
                    {% if viewed_user.profile_image == "placeholder" %}
                        <img src="https://res.cloudinary.com/dpeawwegg/image/upload/v1674407747/user_default_1_smyd4u.webp"
                             alt="Placeholder image"/>
                    {% else %}
                        <img src="{{ viewed_user.profile_image }}"
                             alt="{{ viewed_user.user.username }}'s Photo"/>
                    {% endif %}
                </div>
            </div>
            <div class="col-lg-10 col-md-8 col-sm-8 data-card">
                <div class="timeline-card p-3 profile-data col-md-6 col-sm-12">
                    <div class="username">
                        <h1>{{ viewed_user.user.username }}</h1>
                    </div>
                    <div class="joined-date">
                        <h5>joined on {{ viewed_user.readable_datetime }}</h5>
                    </div>
                    <div class="location">
                        <h5>
                            {% if viewed_user.location %}based in {{ viewed_user.location }}{% endif %}
                            {% if viewed_user.location and viewed_user.age %}|{% endif %}
                            {% if viewed_user.age %}{{ viewed_user.age }} years old{% endif %}
                        </h5>
                    </div>
                    <div class="bio">
                        <p>{{ viewed_user.bio }}</p>
                    </div>
                    <br/>
                </div>
            </div>
        </div>
        <div class="row gy-4 mb-4">
            {% for post in viewed_user_posts %}
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="timeline-card p-3"
                         style="{% if post.author == user %} border: 5px solid black {% else %} border: 5px solid #444;
                                {% endif %}">
                        <div class="centered">
                            <a href="{% url 'post-details' post.slug %}">
                                <h2 class="card-title centered">{{ post.title }}</h2>
                            </a>
                        </div>
                        <div class="centered">posted on {{ post.readable_datetime }}</div>
                        <div class="centered">
                            <i class="fa-regular fa-image"></i> {{ post.number_of_images }} | <i class="fa-regular fa-comment"></i> {{ post.number_of_comments }} | <i class="fa-regular fa-thumbs-up"></i> {{ post.number_of_likes }}
                        </div>
                        <div class="centered" id="post-image">
                            <a href="{% url 'post-details' post.slug %}">
                                {% if post.featured_image == "placeholder" %}
                                    <img src="https://res.cloudinary.com/dpeawwegg/image/upload/v1674407748/post_default-smaller_1_bonqwa.webp"
                                         alt="Placeholder image"
                                         class="card-img-top"/>
                                {% else %}
                                    <img src="{{ post.featured_image }}"
                                         class="card-img-top"
                                         alt="User uploaded image"/>
                                {% endif %}
                            </a>
                        </div>
                        <div id="post.excerpt">{{ post.excerpt }}</div>
                        <div class="btn-toolbar justify-content-between"
                             role="toolbar"
                             aria-label="Toolbar with button groups"
                             id="post-buttons">
                            <div class="btn-group me-2"
                                 id="share-buttons-container"
                                 role="group"
                                 aria-label="First group">
                                <a href="https://twitter.com/share?url=http://localhost:8000{% url 'post-details' post.slug %}"
                                   class="share-button card-button">
                                    <i class="fa-brands fa-twitter"></i></a>
                                <a href="https://twitter.com/share?url=http://localhost:8000{% url 'post-details' post.slug %}"
                                   class="share-button card-button">
                                    <i class="fa-brands fa-facebook"></i>
                                </a>
                            </div>
                            <div class="btn-group"
                                 id="read-button-container"
                                 role="group"
                                 aria-label="Second group">
                                <a href="{% url 'post-details' post.slug %}"
                                   id="read-button"
                                   class="card-button">Read more</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <!-- Button that allows user to edit profiles -->
    {% if viewed_user.user.username == user.username %}
        <a href="{% url 'edit-profile' viewed_user.user.id %}"
           class="btn my-4 btn floating-btn"
           id="add-post-btn"><i class="fa-solid fa-pencil"></i></a>
    {% endif %}
{% endblock content %}
