{% extends "base.html" %}
{% load i18n %}
{% block page_title %}
    Timeline
{% endblock page_title %}
{% block content %}
    <p>Timeline page</p>
    {% if user.is_authenticated %}
        <ul>
            {% for post in all_relevant_posts %}
                <li>
                    <a href="{% url 'post-details' post.slug %}">Title: {{ post.title }}</a> by {{ post.author }} posted on {{ post.created }}
                </li>
            {% endfor %}
        {% endif %}
    </ul>
    <!-- Button that allows user to post -->
    <form action="{% url 'add-post' %}">
        <button type="submit"
                class="btn my-4 btn floating-btn"
                id="add-post-btn"
                action="{% url 'add-post' %}"
                value="Add a post">
            <i class="fa-solid fa-feather"></i>
        </button>
    </form>
{% endblock content %}
